Source: mms-agent
Section: database
Priority: extra
Maintainer: Sam Kottler <shk@linux.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: mms-agent
Architecture: all
Depends: ${misc:Depends}
Description: Using MMS from 10gen to monitor MongoDB.
